*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
groovy/.idea/.name
groovy/.idea/compiler.xml
groovy/.idea/misc.xml
groovy/.idea/modules.xml
profiles_settings.xml
num-viz.iml
groovy/.gradle
groovy.iml
.idea
.gradle
.da*
build
*.vpp~*
NumberVisualization-Model.vpp.working
src/main/java/com/java2s/samples/CurveApplet.java
src/main/java/com/java2s/samples/MainClass.java
src/main/java/com/java2s
circulizr.iml
