/*
* Configuration for CIRCULIZR
* ===========================
* (see end-of-file for license information)
 */


    // currently we can only handle numbers
    number = "Pi"

    nr_of_connections_to_show = 50

    segment_padding_angle = 1.5

    // every value from valueSet gets assigned to one Segment
    valueSet=[0,1,2,3,4,5,6,7,8,9]


    // for debugging to get some console output
    runmode = "PRODUCTION"
    // runmode = "DEVELOP"
    // runmode = "DEBUG"






